/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    /* ===== Colors ===== */
    --body-color: #E4E9F7;
    --sidebar-color: #FFF;
    --primary-color: #2c3e50;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #707070;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}
section .home{
    background: var(--primary-color-light);
}
.text-home{
    flex-direction: column;
    align-items: center;
    line-height: 29px;
    text-align: center;
    color: var( --text-color);
    transition: var(--tran-05);
    background: var(--primary-color-light);
    height: 1000vh;
}
.img-home{
    max-width: 100%;
    height: auto;
}
img{
    vertical-align: middle;
    border-style: none;
}

h2{
    margin-bottom: 1.875rem !important;
    font-size: 2.5rem;
    font-weight: 600;
    margin: 0px;
    line-height: 1.5;
    vertical-align: middle;
}
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    font-size: 1.6rem;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 2.5rem !important;
}

.btn {
    margin-bottom: 10px;
    width: 150px;
    height: 45px;
    display: inline-block;
    text-decoration: none;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    color: #737B8E;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.625rem 0.938rem;
    font-size: 0.875rem;
    line-height: 1.5;
    border-radius: 10px 10px 0 10px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-light {
    color: #212529;
    background-color: #ced3da;
    border-color: #F6F8FB;
    box-shadow: 0px 4px 12px 0px rgb(246 248 251 / 50%);
}
.btn-light:hover{
    background: #e2eaf4;
}

.btn-primary {
    color: #fff;
    background-color: #415a72;
    border-color: #415a72;
    box-shadow: 0px 4px 12px 0px #415a72(71 180 172 / 50%);
}
.btn-primary:hover{
    background: #537290;
}

.button{
    margin-bottom: 1.875rem !important;
}
@media screen and (max-width: 740px) {
    .text-home{
        flex-direction: column;
        align-items: center;
        line-height: 29px;
        text-align: center;
        color: var( --text-color);
        transition: var(--tran-05);
        padding-top: 20%;
    }
    .btn{
        width: 60%;
    }
}