* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.header{
    width: 100%;
    height: 120vh;
    padding: 20px;
    background: #00122e;
    position: relative;
}
/* .top-icons img{
    width: 25px;
    margin-left: 40px;
    cursor: pointer;
}
.top-icons #search{
    margin-left: 1100px;
} */
.row{
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}
.col1{
    flex-basis: 55%;
    margin-left: 10%;
    align-items: center;
}
.col2{
    flex-basis: 20%;
    margin-right: 7%;
}

.host-img{
    border-radius: 15px;
    width: 100%;
}
.contarols{
    display: flex;
    align-items: center;
    justify-content: center;
}
.contarols #icon{
    font-size:20px;
    color:#ccc;
    
}
.contarols i{
    margin: 20px 20px;
}
.fas{
    cursor: pointer;
    transition: transform 0.5s;
    font-size:30px;
    color:#fff;
    user-select: none;
}
.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: rgb(39, 39, 46);
    color: #fff;
    text-align: center;
    border-radius: 10px 0 10px 10px ;
    padding: 5px 2px;
    margin-top: 30px;
    margin-left: -150px;
    font-size: 11pt;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
.contarols #call{
    width: 50px;
}
.fas:hover{
    transform:translateY(-10px)
}

.fas:hover .tooltiptext {
    visibility: visible;
  }
.yourcamera{
    background: #182842;
    border-radius: 1rem;
    padding: 10px 10px 10px;
    color: #ccc;
    
}
.yourcamera div{
    margin-top: 10px;
    width: 100%;
}
.yourcamera video{
    width: 100%;
    /* height: 70px; */
    border-radius: 15px;
    cursor: pointer;
}

.col1 video{
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    cursor: pointer;
    background: #182842;
    padding: 10px 10px 10px;
    color: #ccc;
    align-items: center;
}
.chat{
    height: 45%;
    background: #182842;
    border-radius: 15px;
    padding: 10px ;
    color: #ccc;
    margin-top: 10px;
}
.chat #chat{
    width: 300px;
    height: 200px;
    background: #32465a;
    border-radius: 15px;
    
}
.col1 .fas fa-microphone-slash{
    color: #ccc;
}

button{
    border-radius: 0.5rem;
    width: 50px;
    height: 25px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
}

button:hover{
    background: gray;
    transform: translateY(1px);
}