<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'media/style.css' %}">
    <title>Trang chủ</title>
</head>

<body>
    {% if user_chat.is_authenticated %}
    <script type="text/javascript">
        window.location.href = "/home"
    </script>
    {% else %}
    <div class="plugin">
        <div id="chattingapp">
            Talk That Talk
        </div>
        <div id="content">
            <ul>
                <li>Home</li>
                <li>Messages</li>
                <li>Profile</li>
                <li>Settings</li>
            </ul>
        </div>

        <button id="signin" onclick="location.href=google.com">
            <a href="/signin">SIGN IN</a> 
        </button>

        <button id="signup">
            <a href="/signup">SIGN UP</a> 
        </button>
   
        <a href=""><img src="{% static 'pictures/chat.png' %}" alt="" ></a>
    {% endif %}
</body>

</html>