<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'media/sign_up.css' %}">
    <title>Sign up</title>
</head>

<body>

    <div class="background1">

        <div class="background2">
            <div id="app"><a style="color: #ccc; text-decoration: none" href="/">Talk That Talk</a></div>
            
        </div>
        <a href=""><img src="{% static 'pictures\signinimage.gif' %}" alt=""></a>
        <div class="sign_in">
            <div id="welcome">
                Welcome to Talk That Talk
            </div>
            <div id="have_an_account">
                Have an Account?
                <br> <a style="color: #2c3e50;" href="/signin">Sign in</a>
            </div>
            <div id="text">
                Sign up
            </div>
            <form class="form" action="" method="post">
                {% csrf_token %}
                <label for="edit_email" id="text_email" >Enter your email address</label>
                <input type="text" id="edit_email" name="edit_email" placeholder="Email address" >
                <label for="edit_firstname" id="text_firstname" >First name</label>
                <div class="fullname" >
                    <input type="text" id="edit_firstname" name="edit_firstname" placeholder="First name" >
                    <label for="edit_lastname" id="text_lastname" >Last name</label>
                    <input type="text" id="edit_lastname" name="edit_lastname" placeholder="Last name" >
                    <label for="edit_username" id="text_username" >User name</label>
                </div>
                <input type="text" id="edit_username" name="edit_username" placeholder="User name" >
                <label for="edit_password" id="text_password" >Enter your Password</label>
                <input type="password" id="edit_password" name="edit_password" placeholder="Password" >
                <label for="edit_re_enter_password" id="text_re_enter_password" >Re-enter your password</label>
                <input type="password" id="edit_re_enter_password" name="edit_re_enter_password" placeholder="Re-enter your password" >
                <button>
                    Sign up
                </button>
            </form>

        </div>


    </div>
</body>

</html>