{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<div class="groups">
    <p>Friends</p>
    <img src="{% static 'pictures/user-1.png' %}" id="user-1">
    <img src="{% static 'pictures/user-2.png' %}" id="user-2">
    <img src="{% static 'pictures/user-3.png' %}" id="user-3">
    <div id="per1">
        Nguyễn Minh</div>
    <div id="per1_ib">Chào bạn.</div>
    <div id="per2">Văn Cường</div>
    <div id="per2_ib">Chúc bạn gặp nhiều may mắn.</div>
    <div id="per3">Cỏ ba lá</div>
    <div id="per3_ib">Điều ước của bạn là gì?</div>

</div>
<button class="chat" onclick="location.href=google.com">
    <a href="https://www.google.com/" style="color:black;">Chat to strangers</a><!-- link html match bạn  -->
</button>
<button class="call" onclick="location.href=google.com">
    <a href="https://www.google.com/" style="color:black;">Call to strangers</a><!-- link html match bạn  -->
</button>
{% endblock %}