{% extends 'base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">

<div class="text-home">
    <h2>Welcome Back, Mike Ross</h2>
    <img class="img-home" src="https://media3.giphy.com/media/mBSeE1Q3yxcb0XoSKh/giphy.gif?cid=ecf05e47o1yy4m1m4xy1y5piokbbz8atgrvrvvhvrxnxnv0v&rid=giphy.gif&ct=s" alt="logo">
    <h4>Start Conversation with your contacts</h4>
    <p>Brightened when I saw your face <br>
    All I can say is, it was enchanting to meet you,</p>
    <div class="button">
        <a href="/videochat" class="btn btn-primary">Meet Now</a>
        <a href="/chat" class="btn btn-light">Start Chat</a>
    </div>
</div>


{% endblock %}