<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/videochat.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Video Call</title>
</head>
<body>
    <div class="header">
        <!-- <div class="top-icons">
            <img src="pictures/search.png" id="search">
            <img src="pictures/menu.png">
        </div> -->
        <div class="row">
            <div class="col1">
                <img src="static\pictures\video.png" class="host-img">
                <div class="contarols">
                    {% comment %} <i class="fas fa-comment-slash" onclick="myFunction3(this)"></i> {% endcomment %}
                    <i class="fas fa-microphone-slash" onclick="myFunction(this)"></i>
                    <a href="/home"><i class="fas fa-phone" style="color:#f41919; border-radius: 50%; font-size:50px; "></i></a>
                    <i class="fas fa-video-slash" onclick="myFunction2(this)"></i>
    
                    <!-- màu nền của icon #2C3A4E -->
                </div>
            </div>
            <div class="col2">
                <div class="yourcamera">
                    <p>You</p>
                    <div>
                        <img src="static\pictures\cam_me.png" >
                    </div>
                </div>
                {% comment %} <div class="chat">
                    <p>Chat</p>
                    <div id="chat">
                        
                    </div>
                </div> {% endcomment %}
            </div>
        </div>
    </div>   
    <script>
        function myFunction(x) 
        {
            x.classList.toggle("fa-microphone");
        }

        {% comment %} function myFunction2(x) 
        {
            x.classList.toggle("fa-video");
        } {% endcomment %}

        function myFunction3(x) 
        {
            x.classList.toggle("fa-comment");
        }
    </script>
</body>
</html>