*{
    font-family:'Poppins', sans-serif;
}
body{
    margin: 0;
    font-family:'Poppins', sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,62,80,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 900px;
}
.background1 {
    position: relative;
    /* width: 100%;
    height: 750px; */
    /* background: #FFFFFF; */
}
.background1 .background2 #app {
    position: absolute;
    width: 136px;
    height: 30px;
    left: 42px;
    top: 31px; 
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #ccc;
    
    

}
/* .background1 .background2 {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,62,80,1) 35%, rgba(0,212,255,1) 100%);
} */
.background1 img{
    position: absolute;
    width: 550px;
    height: auto;
    left: 60px;
    top: 100px;
    border-radius: 40px;
}
.background1 .sign_in {
    position: absolute;
    width: 40%;
    height: 600px;
    left: 700px;
    top: 140px;
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
border-radius: 40px;
}
.background1 .sign_in #welcome {

    position: absolute;
    width: 274px;
    height: 32px;
    /*left: 861px;
    top: 226px; */
    margin-top: 20px;
    margin-left: 40px;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    /* identical to box height */


    color: #2c3e50;

}
.background1 .sign_in #have_an_account {

    position: absolute;
    height: 40px;
    left: 360px;
    top: 20px;

    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #8D8D8D;

}
.background1 .sign_in #text {
    position: absolute;
    width: 200px;
    height: 83px;
    left: 40px;
    top: 40px;

    font-weight: 500;
    font-size: 55px;
    line-height: 82px;
    /* identical to box height */


    color: #2c3e50;

}
.background1 .sign_in #text_email {
    position: absolute;
    left: 40px;
    top: 120px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;

}
.background1 .sign_in #edit_email {
    box-sizing: border-box;
    position: absolute;
    height: 30px;
    left: 40px;
    right: 40px;
    top: 150px;

    background: #FFFFFF;
    border: 1px solid #4285F4;
    border-radius: 9px;
    color: #808080;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
}
.background1 .sign_in #text_firstname {
    position: absolute;
    width: 153px;
    height: 24px;
    left: 40px;
    top: 190px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color:#000000;
    float: left;
}
.background1 .sign_in .fullname{
    position: absolute;
    left: 40px;
    right: 40px;
}
.background1 .sign_in #edit_firstname {
    box-sizing: border-box;
    position: absolute;
    height: 30px;
    width: 45%;
    top: 220px;

    background: #FFFFFF;
    border: 1px solid #4285F4;
    border-radius: 9px;
    color: #808080;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
}
.background1 .sign_in #text_lastname {
    position: absolute;
    /* width: 153px;
    height: 24px; */
    /* left: 260px; */
    top: 190px;
    left: 55%;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color:#000000;
}
.background1 .sign_in #edit_lastname {
    box-sizing: border-box;
    position: absolute;
    height: 30px;
    /* left: 260px; */
    width: 45%;
    right: 0px;
    top: 220px;

    background: #FFFFFF;
    border: 1px solid #4285F4;
    border-radius: 9px;
    color: #808080;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
}
.background1 .sign_in #text_username {
    position: absolute;
    width: 153px;
    height: 24px;
    left: 0px;
    top: 260px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color:#000000;
    float: left;
}
.background1 .sign_in #edit_username {
    box-sizing: border-box;
    position: absolute;
    height: 30px;
    left: 40px;
    right: 40px;
    top: 290px;

    background: #FFFFFF;
    border: 1px solid #4285F4;
    border-radius: 9px;
    color: #808080;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
}
.background1 .sign_in #text_password {
    position: absolute;
    left: 40px;
    top: 330px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;


}
.background1 .sign_in #edit_password {
    box-sizing: border-box;
    position: absolute;
    height: 30px;
    left: 40px;
    right: 40px;
    top: 360px;

    background: #FFFFFF;
    border: 1px solid #4285F4;
    border-radius: 9px;
    color: #808080;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
}
.background1 .sign_in #text_re_enter_password {
    position: absolute;
    left: 40px;
    top: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;


}
.background1 .sign_in #edit_re_enter_password {
    box-sizing: border-box;
    position: absolute;
    height: 30px;
    left: 40px;
    right: 40px;
    top: 430px;

    background: #FFFFFF;
    border: 1px solid #4285F4;
    border-radius: 9px;
    color: #808080;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
}


.background1 .sign_in button{
    position: absolute;
    right: 40px;
height: 54px;
left: 40px;
top: 500px;
font-family:'Poppins', sans-serif;
background: #3b526a;
box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
border-radius: 10px;
font-weight: 500;
font-size: 18px;
line-height: 24px;
color: #ccc;
border: none;
cursor: pointer;
}

.background1 .sign_in button:hover{
    background: #2c3e50;
}

@media screen and (max-width: 1350px){
    .background1 img{
    width: 40%;
}

.background2{
    width: 100%;
}
}
@media screen and (max-width: 1170px){
    .background1 img{
        width: 30%;
    }
    .background1 .sign_in {
        left: 40%;
        width: 50%;
    }
}
@media screen and (max-width: 883px){
    .background1 img{
        width: 30%;
    }
    .background1 .sign_in {
        left: 40%;
        width: 54%;
    }
    
}
@media screen and (max-width: 740px) {
    .background1 img{
        display: none;
    }
    .background1 .sign_in {
        
        width: 85%;
        height: 600px;
        left: 9%;
        
    }
    
    
  }

  @media screen and (max-width: 500px) {
    .background1 .sign_in #have_an_account{
        top: 8%;
        left: 75%;
    }
    
    
  }

