body {
    margin: 0;
    font-family:'Poppins', sans-serif;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,62,80,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%;
    height: 800px;
    background-repeat: no-repeat;

}
*{
    font-family:'Poppins', sans-serif;
    
}

.background1 {
    position: relative;
    /* width: 100%;
    height: 750px; */
    /* background: #FFFFFF; */
    /* background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,62,80,1) 35%, rgba(0,212,255,1) 100%);
    width: 100%; */
}
.background1 .background2 #app {
    position: absolute;
    width: 136px;
    height: 30px;
    left: 42px;
    top: 31px; 
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    /* identical to box height */
    color: #ccc;
    

}
/* .background1 .background2 {
    position: absolute;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 0px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,62,80,1) 35%, rgba(0,212,255,1) 100%);
} */
.background1 img{
    position: absolute;
    width: 550px;
    height: auto;
    left: 60px;
    top: 100px;
    border-radius: 40px;
}
.background1 .sign_in {
    position: absolute;
    width: 40%;
    height: 600px;
    left: 55%;
    top: 140px;
    
    background: #FFFFFF;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.08);
    border-radius: 40px;
    font-family:'Poppins', sans-serif;
}

.background1 .sign_in #welcome {

    position: absolute;
    width: 274px;
    height: 32px;
    /*left: 861px;
    top: 226px; */
    margin-top: 50px;
    margin-left: 40px;
    font-weight: 600;
    font-size: 21px;
    line-height: 32px;
    /* identical to box height */


    color: #2c3e50;

}
.background1 .sign_in #no_account {


    position: absolute;
    /* width: 86px; */
    height: 40px;
    right:9%;
    top: 50px;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;

    color: #8D8D8D;

}
.background1 .sign_in #text {
    position: absolute;
    width: 186px;
    height: 83px;
    left: 40px;
    top: 77px;

    
    font-weight: 500;
    font-size: 55px;
    line-height: 82px;
    /* identical to box height */


    color: #2c3e50;

}
.background1 .sign_in #text_username {
    position: absolute;
    left: 40px;
    top: 240px;

    
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #000000;

}
.background1 .sign_in #signin_gg {
    position: absolute;
    width: 153px;
    height: 24px;
    left: 70px;
    top: 180px;

   
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */


    color: #2c3e50;
    float: left;
    cursor: pointer;
}
.background1 .sign_in #fb {
    position: absolute;
    /* width: 150px; */
    height: 55px;
    left:50%;
    top: 163px;
    padding-left: 50px;
    padding-top: 20px;
    color: #2c3e50;
}
.background1 .sign_in #fb img{
    left: 16px;
    top: 16px;
}
/* .background1 .sign_in #fb a{
    left:240px;
    top: 190px;
} */
.background1 .sign_in img {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 180px;
    left: 40px;
}
.background1 .sign_in #username {
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    left: 40px;
    right: 40px;
    top: 280px;

    background: #FFFFFF;
    border: 1px solid #4285F4;
    border-radius: 9px;
    color: #808080;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
}
.background1 .sign_in #text_password {
    position: absolute;
    left: 40px;
    top: 350px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;


}
.background1 .sign_in #pass1 {
    box-sizing: border-box;
    position: absolute;
    height: 40px;
    left: 40px;
    right: 40px;
    top: 390px;

    background: #FFFFFF;
    border: 1px solid #4285F4;
    border-radius: 9px;
    color: #808080;
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
}

.background1 .sign_in #Forgot_Password{
    position: absolute;
/* width: 108px;
height: 20px; */
right: 40px;
top: 440px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height */
color: #4285F4;
}
.background1 .sign_in button {
    position: absolute;
    height: 54px;
    left: 40px;
    top: 500px;
    right: 40px;
    background: #3b526a;
    box-shadow: 0px 4px 19px rgba(119, 147, 65, 0.3);
    border-radius: 10px;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    color: #ccc;
    border: none;
    cursor: pointer;
}
.background1 .sign_in button:hover{
    background: #2c3e50;
}


@media screen and (max-width: 1350px){
    .background1 img{
    width: 40%;
}

.background2{
    width: 100%;
    /* height: 1000vh; */
}
}
@media screen and (max-width: 1170px){
    .background1 img{
        width: 30%;
    }
    .background1 .sign_in {
        left: 40%;
        width: 50%;
    }
}
@media screen and (max-width: 883px){
    .background1 img{
        width: 30%;
    }
    .background1 .sign_in {
        left: 40%;
        width: 54%;
    }
    
    
}
@media screen and (max-width: 740px) {
    .background1 img{
        display: none;
    }
    .background1 .sign_in {
        
        width: 85%;
        height: 600px;
        left: 9%;
        
    }

    
    
  }

  @media screen and (max-width: 740px) {
    .background1 img{
        display: none;
    }
    .background1 .sign_in {
        
        width: 85%;
        height: 600px;
        left: 9%;
        
    }
    
    
  }

  @media screen and (max-width: 450px) {
    .background1 img{
        display: none;
    }
    .background1 .sign_in {
        
        width: 90%;
        height: 600px;
        left: 5%;
        
    }
    body{
        width: 100%;
    }
    .background1 {
        position: relative;
        /* width: 100%;
        height: 750px; */
        /* background: #FFFFFF; */
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,62,80,1) 35%, rgba(0,212,255,1) 100%);
        width: 100%;
    }
    
    .background1 .sign_in #fb{
        left: 38%;
    }
    
}
@media screen and (max-width: 1350px){
    .background1 img{
    width: 40%;
}

.background2{
    width: 100%;
}
}
@media screen and (max-width: 1170px){
    .background1 img{
        width: 30%;
    }
    .background1 .sign_in {
        left: 40%;
        width: 50%;
    }
}
@media screen and (max-width: 883px){
    .background1 img{
        width: 30%;
    }
    .background1 .sign_in {
        left: 40%;
        width: 54%;
    }
    
}
@media screen and (max-width: 740px) {
    
    .background1 .sign_in {
        
        width: 85%;
        height: 600px;
        left: 9%;
        
    }
    
    
  }

  @media screen and (max-width: 500px) {
    .background1 .sign_in #no_account{
        top: 15%;
        left: 70%;
        right:3%;
        
    }
    .background1 .sign_in #fb{
        left: 40%;
    }
    .gg{
        display: block;
    }
    .background1 .sign_in #signin_gg {
        width: 100px;
    }
    .background1 .sign_in #signin_gg{
        left: 15%;
    }
  }



