/* plugin page  */
body {
    margin: 0;
    font-family:'Poppins', sans-serif;
    color: #ccc;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,62,80,1) 35%, rgba(0,212,255,1) 100%);
}

.plugin {
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,62,80,1) 35%, rgba(0,212,255,1) 100%);
    font-family:'Poppins', sans-serif;
}

.plugin #chattingapp {
    position: absolute;
    width: 611px;
    height: 115px;
    left: 120px;
    top: 120px;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 80px;
    line-height: 114px;
    /* identical to box height */


    color: #ccc;
}

.plugin #content {
    position: absolute;
    width: 400px;
    height: 252px;
    left: 220px;
    top: 200px;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
}

.plugin #signin {
    
    position: absolute;
    width: 200px;
    height: 60px;
    left: 100px;
    top: 500px;
    border-radius: 20px;
    border: none;
    background: #415a72;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;

    color: #ccc;
}

.plugin a {
    font-family:'Poppins', sans-serif;
    color: #ccc;
    text-decoration: none
}

.plugin #signup {
    position: absolute;
    width: 200px;
    height: 60px;
    left: 350px;
    top: 500px;
    border-radius: 20px;
    border: none;
    background: #415a72;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;

    color: #ccc;
}
.plugin button{
    cursor: pointer;
}
.plugin #signin:hover{
    background: #496681;
}
.plugin #signup:hover{
    background: #496681;
}
.plugin img {
    position: absolute;
    width: 610px;
    height: auto;
    left: 630px;
    top: 88px;
}

.backgound1 {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #d03434;
}