/* plugin page  */
body {
    margin: 0;
    font-family:'Poppins', sans-serif;
    color: #ccc;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(44,62,80,1) 35%, rgba(0,212,255,1) 100%);
    
}

.plugin {
   
    width: 100%;
    padding: 0;
    background: none;   
    font-family:'Poppins', sans-serif;
}
.content_left-column{
    padding: 100px 100px;
}

.plugin #chattingapp {
   
    width: 100%;
    /* height: 115px; */
    left: 120px;
    top: 120px;
    font-family:'Poppins', sans-serif;
    font-weight: 800;
    font-size: 50px;
    padding-bottom: 5%;
    /* identical to box height */


    color: #ccc;
}

.plugin #content {
    
    /* width: 400px; */
    /* height: 252px; */
    left: 220px;
    top: 200px;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 40px;
    line-height: 55px;
    color:#ccc;
}

.plugin #signin {
    
    
   
    /* height: 60px; */
    left: 100px;
    top: 500px;
    border-radius: 20px;
    border: none;
    background: #415a72;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 5px 35px;

    color: #ccc;
}

.plugin a {
    font-family:'Poppins', sans-serif;
    color: #ccc;
    text-decoration: none
}

.plugin #signup {
   
   
    /* height: 60px; */
    left: 350px;
    top: 500px;
    border-radius: 20px;
    border: none;
    background: #415a72;
    font-family:'Poppins', sans-serif;
    font-weight: 500;
    font-size: 30px;
    padding: 5px 30px;

    color: #ccc;
}
.plugin button{
    cursor: pointer;
}
.plugin #signin:hover{
    background: rgb(39, 37, 37);
}
.plugin #signup:hover{
    background: rgb(39, 37, 37);
}
.bt_style{
    margin-right:5px;
    margin-bottom: 5%;
}
.img_style{
    padding:100px 0px;
}
.plugin img {
    position: absolute;
    width: 500px;
    height: auto;
    left: 680px;
    top: 120px;
    border-radius: 30px;
}

.backgound1 {
    position: relative;
    width: 1440px;
    height: 1024px;
    background: #d03434;
}

@media screen and (max-width: 830px) {
    .plugin #signin {
        padding: 5px 20px;
    }
    .plugin #signup {
        padding: 5px 15px;
    }
}
@media screen and (max-width: 500px) {
    .plugin #signin {
        padding: 5px 20px;
    }
    .plugin #signup {
        padding: 5px 15px;
    }
}
@media screen and (max-width: 376px) {
    .plugin #signin {
        padding: 5px 15px;
    }
    .plugin #signup {
        padding: 5px 10px;
    }
}